{% extends 'base.html' %}


{% block body %}


<h2>Welcome to our online shopping sites.</h2>



<table id="customers">
    <tr>
        <th>Mobile Accessories</th>
    </tr>

    {% for i in Accessories_object %}

    <tr>
        <td>{{i.Name}}</td>
    </tr>

    {% endfor %}

    <tr>
        <th>Mobile companys</th>
    </tr>

    {% for j in Mobile_object %}

    <tr>
        <td><a href="{% url 'items:M_filter' %}">{{j.Brand}}</a></td>
    </tr>

    {% endfor %}

</table>
{% endblock body %}