{% extends 'base.html' %}
{% block body %}

<h1>products informations</h1>
<br>

<div><a href="{% url 'items:M_create' %}">Mobile create</a></div>
<div><a href="{% url 'items:A_create' %}">Accessories create</a></div>


<h3>Mobile informations </h3>

<!--This is for mobile records -->
<table id="customers">
    <tr>
        <th>product id</th>
        <th>Mobile brand</th>
        <th>Model_number</th>
        <th>serial number</th>
        <th>Description</th>
        <th>price</th>
        <th>Available</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for i in Mobile_object  %}
    <tr>
        <td><a href="{% url 'items:detail_page' i.id %}">{{ i.id }}</a></td>
        <td>{{i.Brand}}</td>
        <td>{{i.Model_number}}</td>
        <td>{{i.serial_number}}</td>
        <td>{{i.Description}}</td>
        <td>{{i.price}}</td>
        <td>{{i.Avaible}}</td>
        <td><a href="{% url 'items:M_edit' i.id %}">Edit</a></td>
        <td><a href="{% url 'items:M_delete' i.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<!--This for accessories record-->
<br>
<h3>Accessories informations </h3>


<table id="customers">
    <tr>
        <th>product id</th>
        <th>Accessories brand</th>
        <th>Accessories name</th>
        <th>Model_number</th>
        <th>Description</th>
        <th>price</th>
        <th>Available</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for j in Accessories_object %}
    <tr>
        <td><a href="{% url 'items:detail_page2' j.id %}">{{ j.id }}</a></td>
        <td>{{j.Brand}}</td>
        <td>{{j.Name}}</td>
        <td>{{j.Model_number}}</td>
        <td>{{j.Description}}</td>
        <td>{{j.price}}</td>
        <td>{{j.Avaible}}</td>
        <td><a href="{% url 'items:A_edit' j.id %}">Edit</a></td>
        <td><a href="{% url 'items:A_delete' j.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock body%}