{% extends 'base.html' %}

{% block body %}

<div class="container">
<form class="example" method="GET" action="{% url 'items:search_view'  %}">
  <input type="text" placeholder="Search Products,Brand,Category.." name="q">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</div>


<!--Search filter code-->
<div class="container">
    <div class="row">
      {% for product in search_result %}
      <div class="col-lg-3 col-md-6 class="card" style="width: 18rem;">
          {% if product.images %}
            <img src="{{product.images.url}}" class="img-fluid" alt="Responsive image" style="width: auto; height: 195px;">
          {% else %}
            <img src="{{product.images }}" class="img-fluid" alt="Image">
          {% endif %}
         <div class="card-body">
            <h5 class="card-title">{{product.product.brand.name}}</h5>
            <p class="card-text">{{product.product.name}}</p>
             <p>{{product.colors.name}}</p>
             <p>{{product.product.price}}</p>
             <div><a href="{% url 'items:product_detail' product.id %}" class="btn btn-primary">Go to Detail</a></div>
         </div>
      </div>
     {% endfor %}
     </div>
</div>



<!--listing html code-->
<div class="container" >

     <div class="row">
        {% for product in product_list %}
      <div class="col-lg-3 col-md-6 class="card" style="width: 18rem;">

          {% if product.images %}
            <img src="{{product.images.url}}" class="img-fluid" alt="Responsive image" style="width: auto; height: 195px;">
          {% else %}
            <img src="{{product.images }}" class="img-fluid" alt="Image">
          {% endif %}
         <div class="card-body">
            <h5 class="card-title">{{product.product.brand.name}}</h5>
            <p class="card-text">{{product.product.name}}</p>
             <p>{{product.colors.name}}</p>
             <p>{{product.product.price}}</p>
             <div><a href="{% url 'items:product_detail' product.id %}" class="btn btn-primary">Go to Detail</a></div>
         </div>
      </div>
        {% endfor %}
     </div>
</div>


{% endblock body %}