{% extends 'base.html'%}

{% block body %}

<div class="container">
<div class="row featurette">
      <div class="col-md-7 order-md-2">
       <h5 class="card-title">{{product.product.brand.name}}</h5>
            <p class="card-text">Name: {{product.product.name}} </p>
             <p>Color: {{product.colors.name}} </p>
             <P>Deatil: {{product.product.description}} </P>
             <p><b>Price:</b> {{product.product.price}} </p>
      </div>
      <div class="col-md-5">
          {% if product.images %}
            <img src="{{product.images.url}}" class="img-fluid" alt="Responsive image">
          {% else %}
            <img src="{{product.images }}" class="img-fluid" alt="Image">
          {% endif %}
          <br>
          <button  id="prods : {{product.id}}" class='btn btn-primary cart ' style="width: 40%">Add to cart</button>

      </div>
</div>
</div>

{% endblock body %}


{% block js %}

<script>
if(localStorage.getItem('cart') == null)
{
var cart={};
}
else{
cart= JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;

}

//jQuery starts here//
$('.cart').click(function(){

console.log('clicked');
var idstr= this.id.toString();
console.log(idstr);

if(cart[idstr]!= undefined) {
cart[idstr] = cart[idstr]+1;
}
else{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));

document.getElementById('cart').innerHTML = Object.keys(cart).length;

$('#popcart').popover()
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');

});

</script>


{% endblock js %}