{% extends 'base.html' %}
{% block body %}

<h2 style="text-align:center">User Profile Card</h2>

    <div class="card">
      <h1>{{product2.Brand}}</h1>
      <p class="title">{{product2.Model_number}}</p>
      <p>{{product2.Description}}</p>
        <p>{{product2.price}}</p>
        <p>{{product2.Available}}</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
      <p><button>Contact</button></p>

{% endblock body %}