{% extends 'base.html'%}

{% block body %}

<div class="container">
<div class="row featurette">
      <div class="col-md-7 order-md-2">
       <h5 class="card-title">{{product.product.brand.name}}</h5>
            <p class="card-text">Name: {{product.product.name}} </p>
             <p>Color: {{product.colors.name}} </p>
             <P>Deatil: {{product.product.description}} </P>
             <p>Price: {{product.product.price}} </p>
      </div>
      <div class="col-md-5">
          {% if product.images %}
            <img src="{{product.images.url}}" class="img-fluid" alt="Responsive image">
          {% else %}
            <img src="{{product.images }}" class="img-fluid" alt="Image">
          {% endif %}
      </div>
</div>
</div>

{% endblock body %}